.hero {
    .container {
        max-width: 1224px;
        margin: 0 auto;
        .row {
            .hero__content {
                .hero__btn {
                    display: flex;
                }
            }
        }
    }
}